main {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

main, .flex-container {
  display: flex;
  flex-direction: column;
}

button, input {
  margin: 10px auto;
  min-width: 400px;
  padding: 5px;
}

.error:not(:focus) {
  border: 1px solid red;
}

.error-message {
  display: none;
  margin-top: 10px;
  color: red;
}

label {
  order: 1;
  font-size: 20px;
}

input {
  order: 3;
}

.error+ .error-message {
  display: block;
  order: 2;
}
